<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>genghuan</param-value>
  </context-param>
  <context-param>
    <param-name>school</param-name>
    <param-value>hebau</param-value>
  </context-param>
  <servlet>
    <servlet-name>TestServlet01</servlet-name>
    <servlet-class>servlet.study.cn.TestServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet01</servlet-name>
    <url-pattern>/test01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet04</servlet-name>
    <servlet-class>servlet.study.cn.TestServlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet04</servlet-name>
    <url-pattern>/test04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet05</servlet-name>
    <servlet-class>servlet.study.cn.TestServlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet05</servlet-name>
    <url-pattern>/test05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet06</servlet-name>
    <servlet-class>servlet.study.cn.TestServlet06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet06</servlet-name>
    <url-pattern>/test06</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlet.study.cn.TestServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>genghuan</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>